{{#each this}}
<li class="card-list-item">
    <div class="item-card">
        <div>
            <img src="https://pixabay.com/get/54e0dd404e5bae14f1dc846096293e7f1337dbe4574c704f75287ed0974fcd58_640.jpg"
                class="img-cont" alt="cat">
        </div>
        <div class="card-content">
            <p class="goods-item">{{title}}</p>

            <div class="prices">
                <p class="old-price">{{oldPrice}}</p>
                <p class="new-price">{{price}}</p>
            </div>
        </div>
    </div>
</li>
{{/each}}