@charset "UTF-8";
/*Цветовая панель*/
/*Шрифты*/
.header {
  position: relative;
}

@media screen and (max-width: 767px) {
  .modal_menu {
    position: absolute;
    top: 100%;
    right: 0;
    padding-top: 70px;
    width: 305px;
    height: 815px;
    background-color: #F5F6FB;
  }
}

@media screen and (min-width: 768px) {
  .modal_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.modal_menu.is-open {
  display: block;
}

@media screen and (max-width: 768px) {
  .backdrop {
    position: fixed;
    left: 0;
    bottom: 0;
    opacity: 1;
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
}

/*.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}*/
.header__link-login {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 1.17;
  color: #000000;
  text-decoration: none;
}

.header__link {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.14;
  color: #000000;
  text-decoration: none;
}

.body {
  background: #E5E5E5;
}

.container {
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.add-modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-y: scroll;
}

.add-modal__block {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  outline: 2px solid royalblue;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .add-modal__block {
    width: 290px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .add-modal__block {
    width: 724px;
    max-height: 698px;
  }
}

@media screen and (min-width: 1200px) {
  .add-modal__block {
    width: 861px;
  }
}

@media screen and (max-width: 767px) {
  .add-modal__form {
    margin-right: 19px;
    margin-left: 19px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .add-modal__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 54px;
    margin-left: 54px;
  }
}

@media screen and (min-width: 1200px) {
  .add-modal__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 105px;
    margin-left: 105px;
  }
}

.add-modal__close-button {
  position: absolute;
  top: 25px;
  right: 24px;
  background-color: #ffffff;
  border: none;
}

@media screen and (max-width: 767px) {
  .add-modal__close-button {
    top: 15px;
    right: 14px;
  }
}

.add-modal__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
  margin-top: 54px;
  margin-bottom: 30px;
}

.modal__form-block {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .modal__form-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .modal__form-block:last-child {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .modal__form-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal__form-block:last-child {
    margin-bottom: 41px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal__form-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal__form-block:last-child {
    margin-bottom: 41px;
  }
}

.modal__form-block input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 56px;
  padding-right: 23px;
  padding-left: 23px;
  border: 1px solid #BBBBBB;
  font-size: 100%;
  color: #BBBBBB;
}

@media screen and (max-width: 767px) {
  .modal__form-block input {
    width: 251px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal__form-block input {
    width: 458px;
  }
}

@media screen and (min-width: 1200px) {
  .modal__form-block input {
    width: 440px;
  }
}

.modal__form-block .form-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .modal__form-block .form-label {
    margin: 10px;
  }
}

.modal__form-block textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 23px;
  padding-left: 23px;
  resize: vertical;
  width: 440px;
  max-height: 56px;
  border: 1px solid #BBBBBB;
  font-size: 100%;
  color: #BBBBBB;
}

@media screen and (max-width: 767px) {
  .modal__form-block textarea {
    width: 251px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal__form-block textarea {
    width: 458px;
  }
}

@media screen and (min-width: 1200px) {
  .modal__form-block textarea {
    width: 440px;
  }
}

.modal__photo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .photo-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.add-photo {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F6FB;
}

@media screen and (max-width: 767px) {
  .add-photo {
    width: 77px;
    height: 45px;
    margin: 0.2em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .add-photo {
    width: 84px;
    height: 50px;
    margin-right: 10px;
  }
  .add-photo:last-child {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .add-photo {
    width: 78px;
    height: 50px;
    margin-right: 10px;
  }
}

.add-photo .add-photo__plus {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #BBBBBB;
}

.modal__button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__button-block .add-button {
  width: 210px;
  height: 60px;
  margin: 21px;
  background-color: #FF6B09;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .modal__button-block .add-button {
    width: 251px;
    height: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal__button-block .add-button {
    width: 266px;
    height: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .modal__button-block .add-button {
    width: 210px;
    height: 60px;
  }
}

::-webkit-input-placeholder {
  color: #BBBBBB;
}

::-moz-placeholder {
  color: #BBBBBB;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #BBBBBB;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #BBBBBB;
}
/*# sourceMappingURL=styles.css.map */